<html>
	<head>
		<meta charset="utf-8">
    <title>DogByte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple application for file transfer over intranet">
    <meta name="author" content="Uber Geeks">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/delivery.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="brand-change brand" href="/">DogByte</a>
          <div class="pull-right nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
		</div>
    <div class="row">
      <div class="sidebar-custom">
        <img src="/img/uploads/<%= user.uid %>.jpg" class="sidebar-image circle">
        <div class="sidebar-col">
          <h3 class="sidebar-text"><%= user.username %></h3>
          <h5 class="sidebar-text"><%= user.email %></h5>
        </div>
      </div>
      <div class="span12 offset3 correct-width">
        <div class="space-extra"></div>
        <h1 class="offset1">Online users <%= online %></h1>
        <div class="space-extra"></div>
        <div class="row">
          <div class="span2 offset1">
            <img src="img/profile.jpg" class="img-polaroid">
            <h5 class="other-username">Login User 1<h5>
          </div>
          <div class="span2 offset1">
            <img src="/img/profile.jpg" class="img-polaroid">
            <h5 class="other-username">Login User 2<h5>
          </div>
          <div class="span2 offset1">
            <img src="/img/profile.jpg" class="img-polaroid">
            <h5 class="other-username">Login User 3<h5>
          </div>
          <div class="span2 offset1">
            <img src="/img/profile.jpg" class="img-polaroid">
            <h5 class="other-username">Login User 3<h5>
          </div>
        </div>
        <div class="space-extra"></div>
        <div class="row">
          <div class="span2 offset1">
            <img src="/img/profile.jpg" class="img-polaroid">
            <h5 class="other-username">Login User 5<h5>
          </div>
          <div class="span2 offset1">
            <img src="/img/profile.jpg" class="img-polaroid">
            <h5 class="other-username">Login User 6<h5>
          </div>
          <div class="span2 offset1">
            <img src="/img/profile.jpg" class="img-polaroid">
            <h5 class="other-username">Login User 7<h5>
          </div>
        </div>
      </div>
    </div>
	</body>
</html>
