<html>
	<head>
		<meta charset="utf-8">
    <title>DogByte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple application for file transfer over intranet">
    <meta name="author" content="Uber Geeks">

    <!-- Le styles -->
    <link href="../public/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../public/docs.css" rel="stylesheet">
    <link href="../public/custom.css" rel="stylesheet">

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="brand-change brand" href="/">DogByte</a>
          <div class="pull-right nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="/login">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
		</div>
    <div class="container">
      <div class="span3 left sidebar-custom">
        <br><br>
        <img src="../public/img/profile.jpg" class="img-circle">
        <div class="sidebar-col">
          <h3 class="sidebar-text">Full Name</h3>
          <h5 class="sidebar-text">Email</h5>
          <h5 class="sidebar-text">Mac</h5>
          <p class="sidebar-text">
            Something about the user.
            Like I am a web developer with interest in this and that
          </p>
        </div>
      </div>
    </div>
	</body>
</html>
